<div *ngIf="showUpdateCard else updateTable">
  <mat-card class="example-card">
    <mat-card-title>Update Data</mat-card-title>
    <mat-card-content>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="warn" (click)="updateModel()">Yes</button>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #updateTable>
  <div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input formControlName="companyName" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Sequence</mat-label>
          <input formControlName="companySequence" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Sector</mat-label>
          <input formControlName="companySector" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <input formControlName="companyType" matInput>
        </mat-form-field><br>
        <button mat-flat-button color="primary" type="submit">Update</button>
      </div>
      
    </form>  
  </div>
 </ng-template>
